<nav class="content-nav">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a routerLink="/home"
         routerLinkActive="active"
         ariaCurrentWhenActive="page"
         class="nav-link active">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/about"
         routerLinkActive="active"
         ariaCurrentWhenActive="page"
         class="nav-link">About</a>
    </li>
    <li class="nav-item">
      <a routerLink="/albums"
         routerLinkActive="active"
         ariaCurrentWhenActive="page"
         class="nav-link">Albums</a>
    </li>
  </ul>
</nav>

<router-outlet />
