/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

body {
  color: whitesmoke;
  background-color: #0b090a;

  font-family: Roboto sans-serif;
}
