.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.categories ul {
  align-items: center;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: #084c61;
}

.nav-link {
  font-family: Roboto sans-serif;
  font-size: 18px;
  color: #f5f3f4;
  border-radius: 20px;
}
